.projects_wrap {
  margin-bottom: 100px;
  .chose_categories {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-inline: 150px;
    gap: 5px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    .title {
      font-size: 18px;
      color: var(--color-white);
      font-family: var(--font-SfThin);
    }
    .categories_picker {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      list-style: none;
      width: 100%;
      li {
        button {
          background-color: unset;
          border: unset;
          color: var(--color-white);
          font-size: 30px;
          font-family: var(--font-SfMedium);
          text-transform: capitalize;
          opacity: 0.5;
          transition: all 0.2s ease-in;
        }

        &[data-picked="true"] {
          button {
            opacity: 1;
          }
        }
        &[data-picked="false"] {
          &:hover {
            button {
              color: var(--color-gray);
            }
          }
        }
      }
    }
  }
  .items_by_categorie {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    list-style: none;
    transition: opacity 1.2s ease-in-out;
    z-index: 4;
  }
}
