.project_page_wrap {
  padding-top: 62px;
  overflow: auto;
  .video_block {
    margin-bottom: 50px;
    video {
      width: 100%;
      height: 100dvh;
      object-fit: cover;
      position: relative;
    }
    .project_disc {
      position: absolute;
      bottom: 10px;
      left: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      span {
        font-size: 16px;
        font-family: var(--font-SfMedium);
        color: var(--color-white);
      }
    }
  }
  .project_info {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
    padding-inline: 20px;
    h1 {
      font-size: 36px;
      color: var(--color-white);
      font-family: var(--font-SfMedium);
      text-align: center;
      margin-bottom: 5px;
      transition: all 0.7s ease-in-out;
    }
    p {
      color: var(--color-white);
      text-align: left;
      font-size: 20px;
      transition: all 0.5s ease-in-out;
      margin-bottom: 10px;
    }
  }
  .imgs_wrap {
    padding-inline: 150px;
    margin: auto;
    margin-bottom: 100px;
    width: 100%;
    .all_imgs {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      list-style: none;

      a {
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;
        max-width: 500px;
        &:hover {
          img {
            scale: 1.1;
          }
        }
      }
      img {
        transition: all 0.5s ease-in-out;
      }
    }
    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: var(--color-white);
        &:nth-child(1) {
          font-size: 13px;
          font-family: var(--font-SfThin);
        }
        &:nth-child(2) {
          font-size: 15px;
          font-family: var(--font-SfMedium);
        }
      }
    }
  }

  .customer_review {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1000px;
    padding-block: 20px;
    width: 100%;
    gap: 40px;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
    .customer_img {
      img {
        min-width: 250px;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
      }
    }
    .review {
      p {
        color: var(--color-white);
        font-family: var(--font-SfThin);
        font-size: 26px;
        margin-bottom: 10px;
        transition: all 0.5s ease-in-out;
      }
      a {
        text-decoration: unset;
        &:hover {
          span {
            color: var(--color-gray);
            svg {
              &:nth-child(1) {
                opacity: 0;
                pointer-events: none;
              }
              &:nth-child(2) {
                opacity: 1;
                pointer-events: unset;
              }
              path {
                fill: var(--color-gray);
              }
            }
          }
        }
        span {
          color: var(--color-white);
          font-family: var(--font-SfMedium);
          position: relative;
          line-height: 100%;
          transition: all 0.5s ease-in-out;
          svg {
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 14px;
            &:nth-child(2) {
              opacity: 0;
              pointer-events: none;
            }
            transition: all 0.4s ease-in-out;
            path {
              fill: var(--color-white);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .project_page_wrap {
    padding-top: unset;
    .imgs_wrap {
      padding-inline: unset;
      .all_imgs {
        gap: 40px;
      }
    }
    .project_info {
      margin-bottom: 50px;
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 17px;
      }
    }
    .customer_review {
      padding-inline: 20px;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  }
}
