.project_card {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  overflow: hidden;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .right_disc {
      text-align: left;
      .location_time {
        justify-content: flex-start;
      }
    }
    .img_block {
      img {
        margin-left: auto;
      }
      .explore_btn {
        left: unset;
        right: 10px;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  .img_block {
    position: relative;
    transition: all 0.5s ease-in-out;
    img {
      max-width: 400px;
      width: 100%;
      max-height: 500px;
      border-radius: 10px;
    }
    a {
      text-decoration: unset;
    }
    .explore_btn {
      padding: 10px 20px;
      border: unset;
      border-radius: 7px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      color: var(--color-bg);
      font-size: 15px;
      font-family: var(--font-SfMedium);
      text-decoration: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      &:hover {
        background-color: transparent;
        color: var(--color-white);
        &::before {
          height: 200%;
          width: 120%;
          left: -10%;
        }
      }
      &::before {
        content: " ";
        position: absolute;
        top: unset;
        left: 40%;
        right: 0;
        bottom: -20px;
        background: linear-gradient(
          50deg,
          rgba(5, 5, 5, 0.7),
          rgba(5, 5, 5, 0.7)
        );
        backdrop-filter: blur(5px);
        border-radius: 50%;
        z-index: -1;
        height: 1px;
        width: 20%;

        transition: all 0.4s ease-in-out;
      }
      span {
        pointer-events: none;
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  .right_disc {
    position: absolute;
    max-width: 400px;
    z-index: -1;
    text-align: right;
    h1,
    p {
      color: var(--color-white);
    }
    h1 {
      font-family: var(--font-SfMedium);
    }
    p {
      font-family: var(--font-SfThin);
      margin-bottom: 5px;
    }
    .location_time {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: flex-end;
      span {
        font-size: 13px;
        font-family: var(--font-SfMedium);
        color: var(--color-white);
      }
      .location {
        display: flex;
        align-items: center;
        gap: 4px;
        svg {
          width: 15px;
          height: 15px;
          flex-shrink: 0;
          path {
            fill: var(--color-white);
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .project_card {
    &:nth-child(even) {
      .img_block {
        .explore_btn {
          right: 5px;
        }
      }
    }
    .img_block {
      img {
        max-width: 300px;
        border-radius: 10px;
      }
      .explore_btn {
        padding: 5px 10px;
        bottom: 5px;
        left: 5px;
      }
    }
  }
}
@media (max-width: 625px) {
  .project_card {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
    .right_disc {
      display: none;
    }
    &:nth-child(even) {
      .img_block {
        .explore_btn {
          right: 5px;
          left: 5px;
        }
      }
    }
    .img_block {
      img {
        max-width: unset;
        max-height: unset;
      }
      .explore_btn {
        padding: 10px 20px;
        right: 5px;
        left: 5px;

        span {
          &:nth-child(1) {
            display: block;
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
