.slick-slider.slick-initialized {
  .slick-track {
    display: flex;
    gap: 20px;
    padding-block: 30px 60px;
    .slick-slide {
      transition: all 0.6s ease-in-out;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        transform: translateY(-30px);
      }
    }
    .slick-slide.slick-active.slick-center.slick-current {
      transform: translateY(-30px);
      opacity: 1;
    }
  }
}
.slick-dots {
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 30px;
  width: unset;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex !important;
  align-items: center;
  li {
    span {
      display: inline-block;
      align-items: center;
      transform: translate(0%, 25%);
      width: 13px;
      height: 13px;
      padding: 5px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  li.slick-active {
    span {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
@media (max-width: 1400px) {
  .slick-slider.slick-initialized .slick-track {
    gap: unset;
  }
}
